/**
*
*    MARGIN / PADDING
*
*/

//
// MARGIN
//
@for $i from 0 through 300{
    .m-#{$i}{
        margin: #{$i}px !important;
    }
}

//
//   MARGIN TOP
//

@for $i from 0 through 300{
    .m-t-#{$i}{
        margin-top: #{$i}px !important;
    }
}

//
// MARGIN RIGHT
//
@for $i from 0 through 300{
    .m-r-#{$i}{
        margin-right: #{$i}px !important;
    }
}

//
// MARGIN BOTTOM
//


@for $i from 0 through 300{
    .m-b-#{$i}{
        margin-bottom: #{$i}px !important;
    }
}

//
// MARGIN LEFT
//
@for $i from 0 through 300{
    .m-l-#{$i}{
        margin-left: #{$i}px !important;
    }
}




/**
*
*    PADDING
*
*/

//
// PADDING
//
@for $i from 0 through 100{
    .p-#{$i}{
        padding: #{$i}px !important;
    }
}

//
// PADDING TOP
//

@for $i from 0 through 100{
    .p-t-#{$i}{
        padding-top: #{$i}px !important;
    }
}

//
// PADDING RIGHT
//

@for $i from 0 through 100{
    .p-r-#{$i}{
        padding-right: #{$i}px !important;
    }
}

//
// PADDING BOTTOM
//
@for $i from 0 through 100{
    .p-b-#{$i}{
        padding-bottom: #{$i}px !important;
    }
}

//
// PADDING LEFT
//

@for $i from 0 through 100{
    .p-l-#{$i}{
        padding-left: #{$i}px !important;
    }
}